.prop-tags-wrap {
	width: 100%;
	display: flex;
	font-size: 12px;
	padding: 10px;
	padding-bottom: 0;
	background-color: #f4f4f4;
	background-color: white;
	border-top: 1px solid rgb(234, 234, 234);
	/* border-bottom: 1px solid rgb(234, 234, 234); */
	margin-top: 28px;
	/* border-radius: 10px; */
	/* flex-wrap: wrap; */
	/* margin-top: 10px; */
	/* max-width: 300px; */
}
.prop-tag {
	padding: 2px 7px;
	/* background-color: rgb(133, 127, 127); */
	background-color: rgb(230, 230, 200);
	color: darkslategray;
	border-radius: 10px;
	margin: 2px;
	height: 22px;
	cursor: pointer;
}
.tags-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
}

.prop-tags-label {
	font-size: 14px;
	color: rgb(153, 153, 153);
}
