#location-container {
	background-color: #340e62;
	max-width: 300px;
	width: 100%;
	height: max-content;
	position: relative;
	border-radius: 8px;
	font-size: 16px;
}
#logo-container {
	/* margin: 0 3em; */
}
#location {
	/* margin-right: auto; */
}
#current-location {
	display: flex;
	justify-content: center;
	padding: 1em 1.2em;
	color: white;
	font-weight: 500;
	height: 100%;
	width: 300px;
}

.location-icon {
	color: white;
	display: inline;
}

.places-input-container {
	position: absolute;
	width: 400px;
	padding: 20px 24px;
	background-color: #340e62;
	border-radius: 8px;
	left: 0px;
	right: 0px;
	top: 5em;
	z-index: 100;
}

.container-arrow {
	position: absolute;
	width: 40px;
	height: 24px;
	background-color: #340e62;
	clip-path: polygon(0 100%, 100% 100%, 50% 0%);
	top: -20px;
}

.place-input {
	width: 100%;
	padding: 1em 1.2em;
	border: none;
	border-radius: 8px;
	outline: none;
}

.places-suggestion-container {
	margin-top: 16px;
	background-color: white;
	border-radius: 8px;
	max-height: 300px;
	overflow-y: scroll;
}

.place-item {
	padding: 0.7em 1em;
	white-space: initial;
}

.place-item:hover {
	background-color: rgb(190, 120, 255);
}
