.qwerty-cover-image {
	width: 100%;
	height: 0px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px;
	margin-bottom: 88px;
	position: relative;
	padding-bottom: 40%;
}

.qwerty-cover-image > div {
	position: absolute;
	bottom: -50px;
	left: 8%;
}
