.prop-card {
    position: relative;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    height: max-content;
    &:hover .card-btns {
        display: flex;
        opacity: 1;
    }
}
.leaflet-prop-card {
    flex-direction: row;
    width: max-content;
}
.leaflet-prop-card > .content {
    flex-direction: row;
    width: max-content;
}
.leaflet-prop-card .card-img-top {
    width: 250px;
}
.leaflet-prop-card .card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card-body {
    height: max-content;
}
.card-hover-options {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1em;
}
.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px 20px 10px 10px;
    background-color: white;
    box-shadow: 0 0 9px 0 rgb(200, 200, 200);
    &:hover {
        & > *:not(.card-hover-options) {
            filter: blur(2px);
        }
        & > .card-hover-options {
            display: flex;
        }
        & .card-img-top img {
            transform: scale(1.1);
        }
    }
}
.card-img-container {
    overflow: hidden;
    border-radius: 20px;
}

.card-img-top {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    padding: 0.5em;
    width: 100%;
    & img {
        width: 100%;
        border-radius: 20px;
        transition: transform 200ms ease-in-out;
    }
    &:hover {
        & .card-btns {
            display: flex;
            opacity: 1;
        }
    }
}

.toggle-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 100px;
    padding: 5px;

    transition: transform 100ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    /* opacity: 0; */

    margin-bottom: 10px;
    cursor: pointer;
    /* display: none; */
    & > svg {
        fill: var(--accent-color);
    }
    &:hover {
        transform: scale(1.1);
    }
}

.map-view-toggle > img {
    margin: 0;
}

.card {
    &-body {
        padding: 0.5em;
        padding: 0.5em 0.7em 0.7em;
        & > * {
            margin: 0;
        }
    }
    &-title {
        margin: 0;
        padding: 0em 0.3em;
        color: #48b548;
        margin-bottom: 4px;
        letter-spacing: 1px;
        font-size: 28px;
        font-weight: 700;
    }
    &-text {
        &-specs {
            box-sizing: border-box;
            color: rgb(59, 65, 68);
            padding: 0em 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start !important;
            margin: 8px 0px !important;
            & > span {
                font-size: 13px;
                display: flex;
                align-items: center;
                margin-right: 5px;
                font-weight: 600;
                & > span {
                    margin-left: 6px;
                }
            }
        }
    }
    &-loc {
        &-specs {
            padding: 0.5em 0.75em;
            background-color: #efefef;
            border-radius: 10px;
            font-size: 15px;
        }

        &-city {
            font-weight: 600;
        }
    }
    &-icon {
        width: 22px;
    }
    &-content {
        text-align: left;
        padding: 0.5em 1em;
        color: white;
    }
    &-btns {
        position: absolute;
        // display: flex;
        display: none;
        top: 15px;
        right: 15px;
        flex-direction: column;
        opacity: 0;
    }
}

h3.card-content {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .card-text-specs > span > img {
        margin-right: 10px;
    }
}
