.auth-modal {
	min-height: 400px;
}
.login-button {
	width: 100%;
}
.line {
	width: 100%;
	height: 1px;
	background-color: lightgrey;
}
.line-container {
	display: flex !important;
	align-items: center !important;
}
.google-auth {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	/* background-color: red; */
	border: 2px solid #0a8080;
	border-radius: 4px;
	color: #0a8080;
	font-weight: 600;
	padding: 6px 12px;
	/* margin-bottom: 20px; */
	background-color: #0a8080;
	color: white;
}
.google-auth > img {
	width: 25px;
	height: 25px;
}
/* .google-auth:hover {
	background-color: #0a8080;
	color: white;
} */
.icon-text {
	margin: 0 0.5em;
}
/* .icon-text:hover {
	color: white;
} */
.label {
	padding-left: 0;
	padding-right: 0;
}
.auth-modal .nav-tabs > a {
	padding: 1em 1.5em;
}
