#banner-container {
	height: 100vh;
	top: 0px;
	display: flex;
	justify-content: center;
}

#left-banner-content {
	position: relative;
	flex: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 160px;
}

#banner-heading-container {
	display: flex;
	width: 500px;
	text-align: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

#banner-heading {
	font-size: 44px;
	font-weight: 500;
	margin-bottom: 16px;
	line-height: 64px;
}

#join-header {
	font-size: 20px;
	margin-bottom: 8px;
	font-size: 16px;
	color: grey;
}

#join-input-container {
	display: flex;
	width: 540px;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 0px 4px 0px rgb(200, 200, 200);
}

#email-join {
	flex: 1;
	padding: 1.2em 1.5em;
	border: none;
	outline: none;
	font-size: 16px;
}

#join-input-container button {
	background-color: #f55f44;
	color: white;
	border: none;
	outline: none;
	padding: 0px 1.5em;
	font-size: 20px;
}

#banner-options-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#banner-options-button-container button {
	all: unset;
	padding: 0.7em 1.2em;
	background-color: white;
	border-radius: 4px;
	font-size: 20px;
	margin: 0px 20px 32px 0px;
	box-shadow: 0px 0px 8px 0px rgb(200, 200, 200);
	cursor: pointer;
}

.banner-option-selected {
	position: relative !important;
	background-color: #340e62 !important;
	color: white !important;
}

.banner-option-selected::after {
	position: absolute;
	content: "";
	width: 36px;
	height: 16px;
	background-color: #340e62;
	left: 0px;
	right: 0px;
	margin: auto;
	bottom: -12px;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

#right-banner-content {
	align-self: flex-end;
	flex: 4;
	overflow: hidden;
	height: 88%;
}

#right-banner-content img {
	height: 100%;
}

#left-banner-content #location {
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 40px;
}

.banner-post-container {
	width: 620px;
}

.banner-post-item {
	overflow: hidden;
	width: 160px;
	height: 100px;
	background-color: white;
	color: black;
	box-shadow: 0px 0px 8px 0px rgb(200, 200, 200);
	margin: 20px 24px;
	transition: all 150ms ease-in-out;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;

	display: flex;
	flex-direction: column;
}

.banner-post-icon {
	color: #340e62;
	height: 24px;
	margin-bottom: 4px;
	width: 20px;
}

.banner-post-icon path {
	fill: #340e62;
}

.banner-post-item .top-layer {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 150ms;
	font-size: 16px;
}

.banner-post-item .bottom-layer {
	padding: 0px 8px;
	width: 100%;
	height: 0px;
	/* flex: 1; */
	background-color: #340e62;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: all ease-out 100ms;
}

.banner-post-item:hover .top-layer {
	flex-direction: row;
}

.banner-post-item:hover .bottom-layer {
	height: auto;
	flex: 1;
}

.banner-post-item:hover .banner-post-icon {
	margin-right: 6px;
}
.banner-post-item .bottom-layer div {
	display: grid;
	place-content: center;
	margin: 0px auto;
	height: 72%;
	flex: 1;
	transition: all linear 150ms;
	padding: 0px 4px;
	border-radius: 8px;
	font-size: 12px;
	font-weight: 600;
}

.banner-post-item .bottom-layer div:hover {
	background-color: white;
	color: #340e62;
}

@media (max-width: 768px) {
	.banner-options-container {
		width: 80%;
	}
	.banner-search {
		width: 100%;
	}
	#right-banner-content {
		display: none;
	}
}
