.contact-section {
	/* margin-top: 10px; */
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/* padding-top: 20px; */
	/* width: 100%; */
}
@media screen and (max-width: 468px) {
	.contact-section > button {
		width: 100%;
	}
	.prop-card {
		display: flex;
		justify-content: center;
		padding: 1em 0;
		/* padding: 1em 2em; */
	}
}
.contact-btn {
	background-color: #553c9a;
	background-color: #02b659 !important;
	/* color: white; */
	padding: 5px 1em;
	margin-right: 14px;
	border-radius: 5px;
	border-radius: 100px !important;
	font-weight: 600;
}
.contact-btn.msg {
	background-color: #e2e2e2 !important;
	color: darkslategray;
}
.contact-btn.msg .icon {
	fill: darkslategray;
}
.contact-owner {
}
.book-site-visit {
}
.like-icon {
	cursor: pointer;
}
.icon {
	margin-right: 8px;
	border-radius: 100px;
	background-color: white;
	box-sizing: content-box;
	fill: #02b659;
	padding: 3px;
}
