.auth-form {
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	padding: 0px 6px;
	width: 100%;
	/* width: max-content; */
}
.auth-submit-button {
	background-color: #007bff;
	width: 100%;
	color: white;
	border-radius: 4px;
	padding: 6px 12px;

	margin: 20px 0;
	/* margin-left: 10px; */
}
.auth-submit-button:hover,
.auth-submit-button:focus {
	background-color: #0069d9;
}
.modal-body {
	width: 95% !important;
	margin: 0 auto;
}

.google-auth {
	display: flex;
	align-items: center;
	justify-content: center;
}
.google-auth > img {
	width: 25px;
	height: 25px;
}
.auth-submit-button:disabled {
	background-color: darkslategray;
}
.more-options-header {
	display: flex;
	align-items: center;
	margin-bottom: 1em;
}
.line {
	flex: 0.5;
}
.more-options-header-text {
	padding: 0 10px;
	color: rgb(130, 130, 130);
	font-size: 14px;
}
.google-auth {
	border-radius: 4px;
	padding: 6px 12px;
	margin-bottom: 20px;
}
