.form-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* height: 100vh; */
	/* max-height: max-content; */
	width: 85vw;
	margin: 16px auto 0;
	background-color: white;
	/* padding: 16px; */
	border-radius: 10px;
	margin-top: 0;
}
.form-container .stepper {
	position: sticky;
	/* top: 33px; */
	border-radius: 10px;
	top: 0;
	background-color: white;
	z-index: 100;
	border-bottom: 1px solid lightgrey;
	/* box-shadow: 0 0 8px 0 rgb(200, 200, 200); */
	box-sizing: border-box;
	/* background-color: rgb(250, 250, 250); */
	background-color: #f7f7f7;
	border: 5px solid white;
	/* overflow-x: hidden; */
	/* height: 100px; */
	/* height: 50px; */
	/* width: 50vw; */
	/* margin-bottom: 1em; */
	/* overflow-x: auto; */
}

.form-content {
	display: flex;
}
.stepper-group .stepper-group .txt-field {
	width: 100%;
}
#left-post {
	flex: 5;
	/* padding: 20px 60px; */
	padding: 21px 40px;
	display: grid;
	grid-template-rows: 1fr 40px;
	padding-right: 0;
	height: 610px;
	/* max-height: 90vh; */
}
#left-post > form {
	/* height: 70vh; */
	padding-right: 40px;
	overflow-y: auto;
}
#right-post {
	flex: 3;
	position: sticky;
	top: 150px;
	right: 0px;
	height: 80vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	/* background-color: red; */
}

#right-post img {
	width: 80%;
}

#tooltip-card {
	min-height: 200px;
	width: 80%;
	color: white;
	/* background-color: #ef9a9a; */
	/* background-color: #6c63ff; */
	/* background-color: #340e62; */
	background-color: #fafafa;
	color: darkslategray;
	/* color: #f55f44; */
	font-weight: 700;
	padding: 20px 24px;
	border-radius: 8px;
	font-size: 16px;
	/* box-shadow: 0px 0px 10px 2px rgb(200, 200, 200); */
	box-shadow: 0px 0px 10px 2px rgb(225, 225, 225);
}
.MuiStepIcon-root.MuiStepIcon-completed {
	color: #f55f44 !important;
}
.MuiStepper-root {
	/* display: flex; */
	padding: 0.75em 1em !important;
}
.MuiStepIcon-root.MuiStepIcon-active {
	color: darkslateblue !important;
}
h3 {
	color: #36454f;
}
h1 {
	margin: 0;
}
.control-btns {
	/* margin-top: 100px; */
	/* margin-top: 50px; */
	padding: 0px !important;
	display: flex;
	justify-content: space-between;
	width: 100%;
	/* margin: 50px 1em 1em; */
	margin-top: 10px;
	height: 40px;
}

.control-btns button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 0px !important;
	/* background-color: #340e62; */
	background-color: darkslateblue;
	/* background-color: #1647a1; */
	letter-spacing: 1px;
	/* background-color: #6c63ff; */
	border: none;
	outline: none;
	color: white;
	font-size: 16px;
	border-radius: 100px;
	/* padding: 0.65em 1em; */
	/* padding: 0.75em 1.5em; */
	margin-right: 1em;
	/* padding: 0.5em 1em; */
	padding: 0.75em 1.25em;
	cursor: pointer;
	border-radius: 100px;
	transition: box-shadown 200ms ease-in-out;
}
.control-btns button:hover {
	box-shadow: 0 0 8px 4px #bdadd1;
}
#reset-form-btn {
	/* margin-left: 20px; */
	/* margin-right: 20px !important; */
	background-color: #f55f44;
	/* background-color: #ef9a9a; */
}
#reset-form-btn:hover {
	box-shadow: 0 0 8px 4px #c7938b;
}
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-left: 8px;
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	margin-right: 8px;
}

input[type="text"] {
	padding: 1em;
	border: 1px solid rgb(200, 200, 200);
}

input[type="text"]:focus {
	border: 1px solid #340e62;
}

.MuiRadio-colorSecondary.Mui-checked {
	color: #f55f44 !important;
}
.control-btns {
	padding: 1em 2em;
}

.control-btns > button:disabled {
	background-color: rgb(150, 150, 150);
}

@media screen and (max-width: 600px) {
	.form-container {
		margin: 0;
		width: 100vw;
	}
	#left-post {
		padding: 0 16px;
		/* padding-left: 20px; */
	}
	.options-subgroups {
		padding: 0;
	}
	.options-subgroups .questions {
		display: flex;
		flex-direction: column;
	}
	.options-subgroups .stepper-group {
		margin: 0;
	}
	.options-subgroups .stepper-group .questions {
		margin: 0;
	}
	.options-subgroups .stepper-group .questions .MuiFormControl-root {
		width: 100%;
	}
	.question {
		margin: 0;
		margin-bottom: 20px;
	}
	.control-btns {
		margin: 0;
		margin-top: 20px;
	}
	.question-text {
		/* padding-left: 10px; */
	}
	.stepper-group > h1 {
		margin-left: 0;
		margin-right: 0;
	}
	.stepper-group {
		padding: 20px;
	}
	.makeStyles-formControl-12 {
		width: 100%;
	}
	.stepper {
		overflow-x: scroll;
	}
}
