.preview-img {
  width: 100px;
  border-radius: 10px;
}
.img-item {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: 10px 10px;
  position: relative;
  border-radius: 10px;
  /* height: 160px; */
  /* overflow: hidden; */
}
.image-wrapper {
  position: relative;
}
.featured-icon {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  /* text-transform: uppercase; */
}
.img-item.placeholder {
  position: relative;
  width: 150px;
  height: 194px;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
}

.img-item img {
  cursor: url("https://cdn.staticmb.com/searchstatic/11102020025901/images/zoomSRPPIC.png"),
    auto;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.img-inp-button {
  margin-bottom: 25px !important;
  margin-left: 5px !important;
  position: absolute !important;
  top: 78.75px;
  left: 25px;
}
.img-items-wrap {
  display: flex;
  flex-wrap: wrap;
}
.remove-img-btn {
  color: white;
  position: absolute;
  margin: 0;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  margin: 5px;
}

.menu-item {
  background-color: white !important;
}
.file-upload-icon {
  margin-right: 8px;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
